/* Created by Anand S Jha  */

* { margin:0;
    padding:0;
}

body { background:transparent; }

#headerTop
{

width:105%;
margin-left:-5px;
background-color:#FFFFFF; 
margin-top:5px;
}

.logoImg
{
background:transparent;
height:40px;
width:110px;
margin:8px 0px 5px 45px;
}

div#menu { margin:0px;margin-left:-5px; width:105%;}

div#copyright {
    font:11px 'Trebuchet MS';
    color:#fff;
    text-indent:30px;
    padding:40px 0 0 0;
}
#n{margin:10px auto; background:#FFF; width:920px; border:1px solid #CCC;font-size:12px; line-height:30px;}
#n a{ padding:0 4px; color:#333}




/* menu::base */
div#menu {
	height:36px;
	background:url(images/main-bg.png) repeat-x;
}
div#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	margin-left:-5px;
}
div#menu ul.menu {
	padding-left: 0px;
}
div#menu li {
	position: relative;
	z-index: 9;
	margin: 0;
	padding: 0 5px 0 0;
	display: block;
	float: left;
}
div#menu li:hover>ul {margin-top:0px;
	left: -2px;
}
div#menu a {
	position: relative;
	z-index: 10;
	height: 38px;
	display: block;
	float: left;
	line-height: 31px;
	text-decoration: none;
	font: normal 12px Trebuchet MS;
	font-size:12px;font-family:verdana,helvetica;
}
div#menu a:hover, div#menu a:hover span {
	color: #FFFFFF;
}
div#menu li.current a {
}
div#menu span {
	display: block;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: 95% 0;
}
div#menu ul ul a.parent span {
	background-position:95% 8px;
	background-image: url(images/item-pointer.gif);
}
div#menu ul ul a.parent:hover span {

	background-image: url(images/item-pointer-mover.gif);
}
/* menu::level1 */
div#menu a {
	padding: 0 0px 0 10px;
	line-height: 30px;
	color: #FFFFFF;
}
div#menu span {
	margin-top: 5px;
}/**@replace#1*/
div#menu li {
	/* background: url(images/main-delimiter.png) 98% 4px no-repeat; */
}
div#menu li.last {
	background: none;
}
/* menu::level2 */
div#menu ul ul li {
	background: none;
}
div#menu ul ul {
	position: absolute;
	top: 34px;
	left: -999em;
	min-width: 163px;
	width:263px;
	padding: 5px 10px 10px 0;
	background: #ffffff;/* rgb(92,197,222); */
	margin-top:1px;
	color:#444;
	border:1px solid #ccc;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	font-size:12px;font-family:verdana,helvetica;
}
div#menu ul ul a {
	padding: 0 0 0 15px;
	height: auto;
	float: none;
	display: block;
	line-height: 24px;
	color: rgb(169,169,169);
}
div#menu ul ul span {
	margin-top: 0;
	padding-right: 15px;
	padding-left: 15px;
	_padding-right: 20px;
	color: #444;
}
div#menu ul ul a:hover span {
	color: #444;
	background-color:#48A6D2;
	border-radius:3px;
	width: auto;
}
div#menu ul ul li.last {
	background: none;
}
div#menu ul ul li {
	width: 100%;
}
/* menu::level3 */
div#menu ul ul ul {
	padding: 0;
	margin: -38px 0 0 163px !important;
	margin-left:172px;
}
/* colors */
div#menu ul ul ul {
	background: rgb(41,41,41);
}
div#menu ul ul ul ul {
	background: rgb(38,38,38);
}
div#menu ul ul ul ul {
	background: rgb(35,35,35);
}
/* lava lamp */
div#menu li.back {
	background: url(images/lava.png) no-repeat right -44px !important;
	background-image: url(images/lava.gif);
	width: 13px;
	height: 44px;
	z-index: 8;
	position: absolute;
	margin: -1px 0 0 -5px;
}
div#menu li.back .left {
	background: url(images/lava.png) no-repeat top left !important;
	background-image: url(images/lava.gif);
	height: 44px;
	margin-right: 8px;
}
