.basictab{
padding: 2px 0;
margin-top:0px;
margin-left: 0;
font: bold 10px Verdana;
list-style-type: none;
margin-bottom: 0;
text-align: left; /*set to left, center, or right to align the menu as desired*/
}

.basictab li{
display: inline;
margin:0px -3px 0px 0px;
}

.basictab li a{
text-decoration: none;
padding: 3px 7px 10px 10px;
margin-right: 2px;
border: 1px solid #CCCCCC;
background-color: #F7F7F7;
color: black;
-webkit-border-radius: 10px 10px 0px 0px;
	-moz-border-radius: 10px 10px 0px 0px;
	border-radius: 10px 10px 0px 0px;
	border-bottom: none;
}


.basictab li a:visited{
color: #006;
}

.basictab li a:hover{
background-color: #53B4E6;
color:#006;
border: 1px solid #53B4E6;
color: black;
-webkit-border-radius: 10px 10px 0px 0px;
	-moz-border-radius: 10px 10px 0px 0px;
	border-radius: 10px 10px 0px 0px;
}

.basictab li a:active{
color: #006;
}

.basictab li.selected a{ /*selected tab effect*/
position: relative;
top: 1px;
padding-top: 4px;
background-color: #53B4E6;
color: #006;
width:200px;
}

deselected { /*deselected tab effect*/
position: relative;
top: 1px;
padding-top: 4px;
background-color: #CCCCCC;
color: #006;
width:200px;
}

.basictab li .btnLink {
	border: none;
	background-color: transparent;
	background: transparent;
}

.submenustyle{
padding: 3px 1px;
border-top-width: 0;
border:1px solid #53B4E6;
width: auto;
display: none;
filter:alpha(opacity=0);
-moz-opacity:0;
background-color:#53B4E6;
height:18px;
margin-top:-1px;
}

* html .submenustyle{ /*IE only width definition*/
width: 100%;
}

.submenustyle a{
padding: 1px 5px;
text-decoration: none;
color:#006;
font-size:10px;
}

.submenustyle a:hover{
background-color: #53B4E6;
}

.showclass
{
	display:block;
}

.hideclass
{
	display:none;
}

