

@charset "utf-8";
/* Main CSS Document */

page {
	background-color: #FFFFFF;

}

body {
	background-color: #FFFFFF;
	
}
.ui-menubutton .ui-state-default{
	background-color: #FFFFFF;
}
.fulPage {
	height: 100%;
	width: 100%;
background: #FFFFFF;/*linear-gradient(to bottom, #ffffff 10%,#C4ECFF 60%,#FFFFFF 100%);*/
	/* background: url('../../Images/body_background.jpg')100% ;" */
}

.footerText {
	position: relative;
	background-color: #FFFFFF;
	font-size:11px;
	text-align: center;
	width: 100%;
}

.mainDiv {
	margin-left: 2px;
}

.hide {
	visibility: hidden;
}

.show {
	visibility: visible;
}
.outText
{font-size:12px;}
.logHead
{

margin-top :6%;
	color: #006;
	font-size:12px;
}
.loginBox {
	/* margin: 3% 8% 5% 38%; */
	background: #FFFFFFF;
	-webkit-border-radius: 00px;
	-moz-border-radius: 00px;
	border-radius: 00px;
	border: 1px solid #EEEEEE;
	-webkit-box-shadow: #EEEEEE 2px 2px 2px;
	-moz-box-shadow: #EEEEEE 2px 2px 2px;
	box-shadow: #EEEEEE 2px 2px 2px;
	/* float: left; */
	height: 260px;
	width: 360px;
	color: #006;
	font-size:12px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	font-family:'PT Sans', 'Jockey One', sans-serif,helvetica, arial, sans-serif;
}
.loginHeadTemp
{
	height:40px;
	width:100%;
	background-color: #4682B4;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	color:#FFFFFF;
	font-weight: bold;
	font-size:14px;
	font-family:'PT Sans', 'Jockey One', sans-serif,helvetica, arial, sans-serif;
	
}
.loginFootTemp
{
	height:50px;
	width:100%;
	background-color: #4682B4;
	
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	color:#FFFFFF;
	font-weight: bold;
	font-size:14px;
	font-family:'PT Sans', 'Jockey One', sans-serif,helvetica, arial, sans-serif;
	
}
.loginBtn
{
	background-color: #DDDDDD;
	border:1px solid #DDDDDD;
	height: 30px;
	width:90px;
	border-radius:4px;
	cursor: pointer;
	color:#004566;
	font-weight: bold;
	font-family:'PT Sans', 'Jockey One', sans-serif,helvetica, arial, sans-serif;
}

.loginBtn:hover
{
	color:#006;
	font-weight: bolder;
}
.userbox
{
	padding:4px 4px 4px 6px; 
	border:1px solid #CCCCCC;
	width:250px;
	height:28px;
	color: #00557D;
	border: 1px #3399FF solid;
}

.pwdbox
{
	padding:4px 4px 8px 6px; 
	border:1px solid #CCCCCC;
	width:250px;
	height:28px;
	color: #00557D;
	border: 1px #3399FF solid;
}
/* 
.loginBox {
	margin: 10% 8% 5% 38%;
	background: #C4ECFF;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	border: 1px solid #bddbfa;
	-webkit-box-shadow: #bddbfa 3px 3px 3px;
	-moz-box-shadow: #bddbfa 3px 3px 3px;
	box-shadow: #bddbfa 3px 3px 3px;
	float: left;
	height: 300px;
	width: 320px;
	color: #006;
	font-size:12px;
}

.loginHead {
	margin-left: -3px;
	margin-top: -3px;
	background-color: #FFFFFF;
	-webkit-border-radius: 20px 20px 0px 0px;
	-moz-border-radius: 20px 20px 0px 0px;
	border-radius: 20px 20px 0px 0px;
	border: 1px solid #bddbfa;
	border-bottom: none;
	-webkit-box-shadow: #bddbfa 3px 3px 3px;
	-moz-box-shadow: #bddbfa 3px 3px 3px;
	box-shadow: #bddbfa 3px 3px 3px;
	float: left;
	width: 320px;
	border-bottom: none;
	color: #006;
	height: 60px;
	font-size:16px;
} */
.loginHead {
	/* margin-left: -3px; */
	margin-top: 9%;
	background-color: #FFFFFF;
	
}

.loginTable {
	/* margin-left: 22px; */
	font-size: 16px;
	font-weight: bold;
	color: #00557D;
	/* border-left:3px solid #DDDDDD;
	border-right:3px solid #DDDDDD; */
	/* padding-left: 20px; */
	/* width: 100.7%; */
}

.lblTitle {
	font-size: 30px;
	font-weight: bolder;
	color: #006;
}

.btnBox {
	-moz-box-shadow: inset 0px 1px 0px 0px #dcecfb;
	-webkit-box-shadow: inset 0px 1px 0px 0px #dcecfb;
	box-shadow: inset 0px 1px 0px 0px #dcecfb;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bddbfa
		), color-stop(1, #80b5ea));
	background: -moz-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
	background: -webkit-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
	background: -o-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
	background: -ms-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
	background: linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bddbfa',
		endColorstr='#80b5ea', GradientType=0);
	background-color: #bddbfa;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #84bbf3;
	display: inline-block;
	color: #ffffff;
	font-family: Arial;
	font-size: 118px;
	font-weight: bold;
	padding: 8px 24px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #528ecc;
	
}

.btnBox:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #80b5ea
		), color-stop(1, #bddbfa));
	background: -moz-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
	background: -webkit-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
	background: -o-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
	background: -ms-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
	background: linear-gradient(to bottom, #80b5ea 5%, #bddbfa 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80b5ea',
		endColorstr='#bddbfa', GradientType=0);
	background-color: #80b5ea;
}

.btnBox:active {
	position: relative;
	top: 1px;
}

.headPart {
	background-color: #FFFFFF;
	font-size: 22px;
	font-weight: bolder;
	color: #006;
}

.welcomeHead {
	background-color: #036;
	width: 102%;
	height: 17px;
	margin-left: -8px;
	color: #FFFFFF;
	font-size: 14px;
	padding: 8px;
}

.pathBox {
	height: 17px;
	width: 102%;
	padding: 3px;
	color: #006;
	background-color: #80D6FF;
	margin-left: -8px;
	font-size: 12px;
}

.leftMenu {
	min-height: 550px;
	width: 266px;
	background-color: #FFFFFF;
	border: #036 2px ridge;
	margin-left: 3px;
	margin-top: 2px;
}

.fieldBox {
	border: #036 2px ridge;
	min-height: 170px;
}

.exclamationTd {
	color: red;
	font-weight: bolder;
	width: 20px;
	text-align: center;
	font-size: 20px
}

.fieldBox1 {
	border: #036 2px ridge;
	min-height: 230px;
}

.dashTd {
	border: #036 2px ridge;
}

.ddlList {
	width: 420px;
	height: 30px;
	font-size: 18px;
}

.searchResultHeader {
	min-height: 20px;
	background-color: :#006697;
}

.contentHead {
	background-color: #F1F2F3;
	margin: 20px 0px 0px -1px;
	border: #006 1px solid;
	font-size: 18px;
	background-color: #EEE;
	color: #006;
	padding: 5px;
}

.contentTitle {
	background-color:#E9E9E9;/*  #006697; */
	color: #FFF;
	
	border: none;/* #006 1px solid; */
	font-size: 18px;
	padding: 5px;
	height: 30px;
}

.contentSubTitle {
	background-color: #80D6FF;
	color: #006;
	margin: 20px 0px 0px -1px;
	border: #006 1px solid;
	font-size: 18px;
	padding: 5px;
}

.evenRow {
	background-color: #F4F4F4;
	color: #006;
	height: 35px;
}

.oddRow {
	background-color: #FFFFFF;
	color: #006;
	height: 35px;
}

.inputbox {
	padding:5px;
	background: #FfFfFf;

	color: #00557D;
	border: 11px #bddbfa solid;
	/* -- CSS3 Shadow - create a shadow around each input element -- */
	-webkit-box-shadow: 0px 0px 4px #bddbfa;
	-moz-box-shadow: 0px 0px 4px #bddbfa;
	box-shadow: 0px 0px 4px #bddbfa;
	/* -- CSS3 Transition - define what the transition will be applied to (i.e. the background) -- */
	-webkit-transition: background 0.3s linear;
}

.inputbox:hover {
	background: #F0FAFF;

}

.inputbox:focus {
	background: #ECF9FF;
	
}

.myTable {
	width: 100%;
	border-collapse: collapse;
}

th {
	background-color: #006697;
	color: #FFF;
	font-size:9px;
	font-family: verdana;
	border: #006 1px solid;
	white-space:normal;
}
td{
	font-size:12px;
	font-family: calibari,verdana,helvetica;
	font-weight:normal;
}

.myTable td {
	font-size:9px;
	font-family: verdana;
	padding: 8px;
	border: #006 1px solid;
}

.myTable tr:nth-child(even) {
	/*(even) or (2n 0)*/
	background-color: #CEEFFF;
	color: #006;
}

.myTable tr:nth-child(odd) {
	background-color: #E1F5FF;
	color: #006;
}

/* pop up css */
.jsbank_sample_cont {
	margin: 20px;
	padding: 20px;
}

.jsbank_sample_tit {
	font-weight: bold;
	margin-bottom: 10px;
	padding: 5px;
	width: auto;
	background-color: #c0c0c0;
	border: 5px solid #a0a0a0;
	color: black;
	text-align: center;
}

#layerMSG {
	position: absolute;
	visibility: hidden;
	width: auto;
	left: 580px;
	top: 340px;
	background-color: #FFFFFF;
	border: 1px solid #000;
	padding: 10px;
}

#layer1 {
	position: absolute;
	width: auto;
	height: 260px;
	left: 2px;
	top: 150px;
	background-color: #FFFFFF;
	border: 1px solid #000;
	padding: 10px;
}

.mainBox {
	border: 1px #666 solid;
	margin-top: -0.4%;
	margin-left: 1px;
}

#fullPatientDiv {
	position: absolute;
	visibility: hidden;
	width: auto;
	left: 0px;
	top: 0px;
	background-color: #FFFFFF;
	border: 1px solid #000;
	padding: 10px;
	background: #F1F2F3;
	height: 700px;
	width: 98%;
	background: rgba(255, 255, 255, 0.5);
	border: none;
}

#fullLayer {
	position: absolute;
	visibility: hidden;
	width: auto;
	left: 0px;
	top: 0px;
	background-color: #FFFFFF;
	border: 1px solid #000;
	padding: 10px;
	background: #F1F2F3;
	height: 700px;
	width: 98%;
	background: rgba(255, 255, 255, 0.5);
	border: none;
}

#layer3 {
	position: absolute;
	width: auto;
	height: auto;
	left: 20px;
	top: 150px;
	background-color: #FFFFFF;
	border: 1px solid #000;
	padding: 10px;
}

#fullLayerDiv {
	position: absolute;
	visibility: hidden;
	width: auto;
	left: 0px;
	top: 0px;
	background-color: #FFFFFF;
	border: 1px solid #000;
	padding: 10px;
	background: #F1F2F3;
	height: 700px;
	width: 98%;
	background: rgba(255, 255, 255, 0.5);
	border: none;
}

#layerPatientSearch {
	position: absolute;
	width: auto;
	left: 20px;
	top: 100px;
	background-color: #FFFFFF;
	border: 1px solid #000;
	padding: 10px;
}

#layer2 {
	position: absolute;
	width: auto;
	height: auto;
	left: 0px;
	top: 150px;
	background-color: #FFFFFF;
	border: 1px solid #000;
	padding: 10px;
}

#close {
	float: right;
}

.menubtn .btnLink {
	border-color:none;
	border: none;
	border-color:transparent;
	background-color: transparent;
	background: transparent;
}

.ui-datatable tbody td.wrap {
	white-space: normal;
}

.myTableFlux td:nth-child(1) {
	width: 5px !important;
}

.ui-datatable.myTable th {
	background: black;
}

.changeRowColor {
	background-color:#F1F2F3; /* grey; */
	background-image: none;
}

.datatableDiv .dataTble {
	border: none;
	background-color: transparent;
	background: transparent;
}

.dataTbl {
	border: solid 1px rgb(174, 208, 234);
	min-height: 100px;
	background-color: rgb(174, 208, 234);
	border-radius: 3px;
}

.image_border_rec {
	position: relative;
	background-color: transparent;
	/* -moz-border-radius: 60px;
	-webkit-border-radius: 60px;
	-khtml-border-radius: 60px;
	border-radius: 60px; #B7DBF2 #4682B4*/
	border-radius:15px;
	/* border:2px solid #2779AA  */  ;
	height: 28px;
	width: 140px;
}

.outputtext {
	font-style: verdana;
	font-family:calibari,verdana,helvetica;
	font-size:12px;
	font-weight: bold;
	color:#036; 
}

.viewRxTable{
	width:30px;
}

.fontsize{
	
	font-size: 10px; font-family:Persian;font-weight: bold;
}

.calculatorImage
{
	background-image:url("../../Images/doseCal.jpg");
	
	
}
.popupStepFont
{
	font-size: 10px; font-family: verdana;font-weight: bold;
	
}

.mypanel
{
	background-color: #FFFFFF;

	
	}
	.basecolor
{
	background-color:#FFFFFF;
}
	
	/*for left menu */

.leftActiveLink {
	
	background:#53B4E6;
	 width:155px;
	 height:25px;
	 border:1px solid #53B4E6;
	 border-radius:10px;
	 text-align:center;	
	 vertical-align: top;
	margin: 10px 0px 0px 5px;
    }

.leftActiveLink .btnLink,.leftDeactiveOtherLink .btnLink {
	border: none;
	background-color: transparent;
	background: transparent;
	height:25px;
	width:155px;
	color:#005E86;
}

.leftDeactiveOtherLink {
	background:#F7F7F7;
	  width:155px;
	 height:25px;
	 border:1px solid #53B4E6;
	 border-radius:10px;
	 text-align:center;	
	 vertical-align: middle;
	 margin: 10px 0px 0px 5px;
    }
    .leftDeactiveLink {
	background:#F7F7F7;
	  width:155px;
	 height:18px;
	 border:1px solid #53B4E6;
	 border-radius:10px;
	 text-align:center;	
	 vertical-align: middle;
	 margin: 10px 0px 0px 5px;
    }
    .mandatoryField{
    	font-size: 11px;    	
    	color: #ED1C24;
    }
    
      .lMenu .hover{
	background:#53B4E6;
	 width:120px;
	 border-color:#53B4E6;
    }
    
    .ui-button-text-only .ui-button-text 
{
 padding: .6em .6em .6em .6em;
 font-size: 10px;
 font-family: verdana;
 font-weight: bold;
  }
    
    .ui-widget-overlay
{
  opacity: .30 !important; /* Make sure to change both of these, as IE only sees the second one */
  filter: Alpha(Opacity=30) !important;

  background-color:  #FFFFFF !important; /* This will make it darker */
}


/* White Backgrond with no border */
/*  .ui-top, .ui-top .ui-layout, .ui-top .ui-layout-bd, .ui-top .ui-layout-unit, .ui-layout-unit-content,.ui-layout-unit,
.ui-panel-content, .ui-layout-unit, .ui-widget, .ui-widget-header, .ui-widget-content, .ui-layout-south, .ui-layout-center, .accordionPanel,
.ui-accordion, .ui-accordion-content, .ui-accordion-header , .ui-fieldset-legend, .ui-state-active{
    background-image: none;
    background-color: #FFFFFF; } */
     

    /* 
    .ui-layout-unit .ui-widget .ui-widget-content .ui-corner-all .ui-layout-center
    {
    background-color: #FFFFFF; 
    }
    .ui-layout-unit-content .ui-widget-content
   {
    background-color: #FFFFFF; 
    }
    
   .ui-panel-titlebar .ui-widget-header .ui-helper-clearfix .ui-corner-all
 {
    background-color: #FFFFFF; 
    }

    .ui-panel-content .ui-widget-content
     {
    background-color: #FFFFFF; 
    } */
    
/* .ui-top, .ui-top .ui-layout, .ui-top .ui-layout-bd, .ui-top .ui-layout-unit, .ui-layout-unit-content,.ui-layout-unit,
.ui-panel-content, .ui-layout-unit, .ui-widget-header, .ui-widget-content, .ui-layout-south, .ui-layout-center, .accordionPanel,
.ui-accordion, .ui-accordion-content, .ui-accordion-header , .ui-fieldset-legend, .ui-state-active
{
    background-image: none;
    background-color: #FFFFFF; } */
.ui-panel-content .ui-widget-content
{
	background-color: #FFFFFF;
	color:#005E86;
	
}

.ui-layout-unit .ui-widget .ui-widget-content .ui-corner-all .ui-layout-center
{
	background-color:#FFFFFF;
	color:#005E86;
}

.ui-layout-unit-content .ui-widget-content
{
	background-color:#FFFFFF;
	background:#FFFFFF;
	color:#005E86;
}

.ui-accordion .ui-widget .ui-helper-reset .ui-hidden-container
{
	background-color:#FFFFFF;
	color:#005E86;
}

.ui-accordion-header .ui-helper-reset .ui-state-default .ui-state-active .ui-corner-top
{
	background-color:#FFFFFF;
	color:#005E86;
}
.ui-icon .ui-icon-triangle-1-s
{
	background-color:#FFFFFF;
	color:#005E86;
}
.ui-accordion-content .ui-helper-reset .ui-widget-content
{
	background-color:#FFFFFF;
	color:#005E86;
}

.ui-widget-content {
	background-color: #FFFFFF;
	color:#005E86;
}

.ui-layout-unit {
	background-color: #FFFFFF;
	color:#005E86;
	
}

.ui-top, .ui-top .ui-layout, .ui-top .ui-layout-bd, .ui-top .ui-layout-unit, .ui-layout-unit-content,.ui-layout-unit,
.ui-panel-content,  .ui-widget-header, .ui-widget-content, .ui-layout-south, .ui-layout-center,.ui-layout-west, .accordionPanel,
.ui-accordion, .ui-accordion-content, .ui-accordion-header , .ui-fieldset-legend, .ui-state-active{
    background-image: none;
    color:#005E86;
    background-color: #FFFFFF; }
    
.ui-layout-center
{
	background-color: #FFFFFF;
	color:#005E86;
}
.ui-layout-west
{
	background-color: #FFFFFF;
	color:#005E86;
	
	
}

.fieldset
{
	background-color: #FFFFFF;
	color:#005E86;
}
.ui-fieldset 
{
	background-color: #FFFFFF;
	color:#005E86;
		font-family:calibari,verdana,helvetica;
	font-size:12px;
	font-weight:normal;
}

.ui-fieldset-legend    /* .ui-widget .ui-widget-content .ui-corner-all */
{
	background-color: #FFFFFF;
	color:#005E86;
		font-family:calibari,verdana,helvetica;
	font-size:14px;
	font-weight:bold;
}

.tab
{
	background-color: #FFFFFF;
	color:#005E86;
		font-family:calibari,verdana,helvetica;
	font-size:12px;
	font-weight:normal;
}


.accordionPanel
{
	background-color: #FFFFFF;
	color:#005E86;
}
.ui-accordion
{
	background-color: #FFFFFF;
	color:#005E86;
}


.ui-panel
{
	background-color: #FFFFFF;
	color:#005E86;
		font-family:calibari,verdana,helvetica;
	font-size:12px;
	font-weight:normal;
}

.ui-state-default 
{
	background-color: #FFFFFF;
	color:#005E86;
}

.ui-corner-all
{
	background-color: #FFFFFF;
	border-color:red;
	color:#005E86;
}

.ui-layout-unit-content
{
	background-color: #FFFFFF;
	color:#005E86;
}
.form
{
	background-color: #FFFFFF;
}
.div {
	background-color: #FFFFFF;
	color:#005E86;
		font-family:calibari,verdana,helvetica;
	font-size:12px;
	font-weight:normal;
}



/* for field set legend to transparent not look like button style code */
myFieldset .ui-fieldset, .ui-fieldset .ui-fieldset-legend {
background-color: transparent;
background: transparent;
border-color: transparent;
text-align: left;
	font-family:calibari,verdana,helvetica;
	font-size:12px;
	font-weight:normal;
}

/* for layout border and margin style */
.ui-layout,.ui-layout-north {
	border:none;
	color:#005E86;
		font-family:calibari,verdana,helvetica;
	font-size:12px;
	font-weight:normal;
}



.ui-layout-north .ui-layout-unit-content {
	border:none;
	color:#005E86;
		font-family:calibari,verdana,helvetica;
	font-size:12px;
	font-weight:normal;
}

.ui-layout-south {
	border:none;
	color:#005E86;
}

.ui-layout-south .ui-layout-unit-content {
	border:none;
	color:#005E86;
}
	
	 .ui-datatable-scrollable-footer,.ui-datatable-scrollable-footer-box
	{
		border:none;
		color:#005E86;
	}

.dataField
{
	border: solid 1px #CCCCCC;
	background-color: #FFFFFF;
	border-radius:0px;
	color:#005E86;
	font-size:12px;
	font-family:ms-sarif,calibary,verdana,helvetica;
	
}
.legendField
{
	color:#005E86;
	font-weight:bold;
	font-size:13px;
	font-family:calibary,verdana,helvetica;
	margin-left:10px;
}


.jqplot-title{
    color: #005E86;
    font-family: verdana;
    font-weight:bold;
}


.ui-messages-info-icon, .ui-messages-warn-icon, .ui-messages-error-icon, .ui-messages-fatal-icon, .ui-message-warn-icon, .ui-message-error-icon, .ui-message-fatal-icon {
    background: none;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    position: relative;
    color:#FF0000;
}
.ui-messages-error-icon,.ui-messages-error-summary
{
	color:#FF0000;	
}
.ui-message-warn-icon,.ui-message-warn-summary,.ui-message-fatal-summary
{
	color:#FF0000;
}
*:focus{
	outline:0;
}
 .changeRowColor
 { /* #D6D6D6 */
  background-color: #FFFFFF !important;
  background-image: none !important;
 
 } 
 
 .customHeader th{
    background-color: black;
} 
 
 .changeLabResultDataTableRowColor {
	background-color: #FF0000 !important;
	background-image: none !important;
	
}

.labRowColor{
	color: #CD0A0A !important;
}
/* .ui-expanded-row-content, */
.ui-expanded-row-content .ui-widget-content 
{
	background-color: #FFFFC4;
	color:#006;
	
}

.ui-growl {
    position:absolute;
    top:45%;
    left:42%;
    z-index:9;
}

.imgIcon
{
	height:20px;
	width:25px;
	border-radius:10px;
}

.anticoag_DataTable_Alignment
{   
   width: 1300px;
   position: relative;
   left: 15px;
   background-color: #FFFFFF;
}

.ui-expanded-row,.ui-datatable-tablewrapper,.ui-expanded-row-content .ui-widget-content
	{background-color: #FFFFFF;
	}
	
	.fieldContent
	{
	background-color: #FFFFFF;
	border:1px rgb(70,130,180) solid;
	border-radius:0px;
	min-height:160px;
	font-family:calibari,verdana,helvetica;
	font-size:12px;
	font-weight:normal;
	
	}
	.titleBar
	{
	background-color: #FFFFFF;
	font-family:calibari,verdana,helvetica;
	font-size:14px;
	font-weight:bold;
	}
	
	.contentTextPan
	{
		font-family:calibari,verdana,helvetica;
	font-size:12px;
	font-weight:normal;
	}
.contentPan,.ui-panel-content .ui-widget-content,.ui-panel-content,.ui-widget-content
	{
		font-family:calibari,verdana,helvetica;
	font-size:12px;
	font-weight:normal;
	
	}
	.ui-dialog-title
	{
	font-family:calibari,verdana,helvetica;
	font-size:14px;
	font-weight:bold;
	}
	.myNotice, .ui-datatable, .ui-datatable, .ui-widget, .anticoag_DataTable_Alignment
	{
	background-color: #ffffff;
	border-style: none;
	outline-style: none;
}
	.btnBoxDiv .ui-button-text-only .ui-button-text 
	{
	font-family:calibari,verdana,helvetica;
	font-size: 1em;
   padding: .4em;
	font-weight:bold;
	   
	}
	/* .ui-button-text-only .ui-button-text {
   font-size: 1em;
   padding: .4em;
   height:15px;
} */
	.ui-state-default,.ui-layout-unit , .ui-corner-all, .ui-layout-center
	{
		font-family:calibari,verdana,helvetica;
	font-size:12px;
	font-weight:normal;
	}
	
	.ui-datatable,.ui-datatable-even{
font-family:calibari,verdana,helvetica;
	font-size:2em;
	font-weight:normal;

}

.myNote
{
	background-color: RED;
	border-style: none;
	outline: 0 none !important;
	
}
 .DataTable .table * {
       border: none !important;
   }
   
.ui-datatable,.ui-datatable-tablewrapper,.ui-state-default,.ui-datatable-data,.ui-widget-content,.ui-datatable-even
	.ui-button, .ui-widget, .ui-state-default, .ui-corner-all, .ui-button-text-only,.myNote
{
	border-style: none;
	outline-style: none;
}

.noheader.ui-datatable table thead {
    display: none;
}

   /* For removing the border of datatable in anticoag page
   		by venu */
.ui-datatable,.ui-datatable-tablewrapper,.ui-state-default,.ui-datatable-data,.ui-widget-content,.ui-datatable-even
	.ui-button, .ui-widget, .ui-state-default, .ui-corner-all, .ui-button-text-only,.myNote
{
	border-style: none;
	outline-style: none;
}

.noheader.ui-datatable table thead {
    display: none;
}
/* end */

/* For making the dataTable value's font size as 12px
	by venu */
.ui-datatable .ui-datatable-data td {
    font-size: 12px;
}
/*end*/

.ui-widget button.ui-state-default
{

border-radius:0px;


}

.contentBox
{
	/* background-color:rgb(255,255,255); padding: 15px; */
	background-color: #4682B4;/*  #4682B4 #5F9EA0; */
	 -webkit-box-shadow: 0px 0px 4px rgb(215,215,215)D9EDD6;
	-moz-box-shadow: 0px 0px 4px rgb(215,215,215);
	box-shadow: 0px 0px 4px rgb(215,215,215); 
	height:30px;
	padding-left: 20px;
	color:#006;

}
.msgPanel
{
	background-color:  #D9EDD6;
	/* -webkit-box-shadow: 0px 0px 4px rgb(215,215,215)D9EDD6;
	-moz-box-shadow: 0px 0px 4px rgb(215,215,215);
	box-shadow: 0px 0px 4px rgb(215,215,215); */
	height:30px;
	min-widht:450px;
	padding-left: 20px;
	border:2px solid  #BBBBBB;
}

.ui-accordion .ui-accordion-content
{
	border:1px solid #cccccc;
	background: #ffffff;
}
.ui-accordion .ui-accordion-header
{
	border-radius:0px;
}

.choices td {
    font-size: 8pt;
    font-family: calibari,verdana,helvetica;
}


.panel td
{
	font-weight: bold;
}

/* .rdo
 {
 -webkit-transform: scale(0.8, 0.8);
 } */

/* new css for new type of box on doctor profile */
.secHeadPartH
{
	font-weight: bold;
	text-align: center;
	font-size:12px;
	border: 1px solid #E9E9E9;;
	background-color:#E9E9E9;/*  */
}
.secContentBorderH
{
	border: 1px solid #E9E9E9;;
}
/* new css for new type of box across application */
.secHeadPart
{
	font-weight: bold;
	text-align: left;
	font-size:12px;
	border: 1px solid #B7DBF2;
	background-color:#B7DBF2;/* #E9E9E9; */
	height:30px;
	padding-left:10px;
}
.secContentBorder
{
	border: 1px solid #B7DBF2;
}

/* notice section for doctor profile */
.noticeBoard
{
	
	
/* outer shadows  (note the rgba is red, green, blue, alpha) */

-webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4); 
-moz-box-shadow: 0px 1px 2px rgba(23, 69, 88, .5);

font-size: 12px;
font-weight: bold;
/* gradients */
background-color: white;
border: 1px solid rgb(213,213,213);
}

.numberBoard
{
	background-color: rgb(70,70,70);width: 30px;text-align: center;color:#ffffff;font-weight: bold
}

.customTitleBar > .ui-panel-titlebar {
    background: #b7dbf2;
    border-radius:0px;
    }
    
    .ui-selectonemenu .ui-selectonemenu-trigger .ui-icon {
margin-top: 3px;
margin-left: -4px;
}

.ui-datatable thead th, .ui-datatable tbody td, .ui-datatable tfoot td {
padding: 5px 2px;
overflow: hidden;
border-width: 1px;
border-style: solid;
}
.ui-panel .ui-panel-content{   
    background-color:#FFFFFF;
} 
.ui-panel-titlebar .ui-widget-header .ui-helper-clearfix .ui-corner-all{
    background-color: #FFFFFF;
    color:#005E86;
} 
.ui-panel .ui-panel-title{
    color:#005E86;
}

  .ui-datatable-data .ui-widget-content
{
 background: #ffffff;	
}  

  .ui-layout-unit .ui-widget .ui-widget-content .ui-corner-all .ui-layout-center .ui-layout-pane .ui-layout-pane-center .ui-layout-pane-hover .ui-layout-pane-center-hover .ui-layout-pane-open-hover .ui-layout-pane-center-open-hover
{
	 background-color: #ffffff;	
}  

 .ui-layout-unit .ui-layout-unit-content {
padding: 0.2em 0em;
border: 0px none;
overflow: auto;
background: #ffffff;
color:#005E86;
} 

.ui-datalist-data
{
background-color: #ffffff;	
}

.ui-dialog .ui-dialog-content
{
	background: #ffffff;
}

.ui-dialog .ui-dialog-titlebar
{
background: #ffffff;	
}

.ui-layout-unit-header-title
{
	color:#005E86;
}

.ui-widget, .ui-widget .ui-widget
{
	/* border-color:white; */
}

/*
Added by nagaraj on 13 June 2014 for Radio center align
*/
.ui-radiobutton-icon {
margin-left: -0.5px;
margin-top: -0.9px;
} 

/*Default med css #D3E2D7  #b7dbf2 F2F9FC rgb(169,197,175)*/

.defaultMed
{
	background-color:#F2F9FC; 
	border:2px solid #2779AA ;
	padding:2px;
	border-radius:15px;
	width:140px;
	font-size: 75%;
	/* line-height: 10px; */
}
.inputfield
{
	width: 160px;
}

.scrollDivPan
{
	
height:140px;
overflow:scroll;
overflow-x: hidden;
}
.ui-messages-error, .ui-message-error {
color: #D8000C;
background-image:transparent url("../../Images/messageErrorIcon.png") no-repeat 0 0;
background-color: #FFBABA;
background-position: top;
margin-left: 5px;
border: 1px solid #D8000C;
width:600px;
}

/* Network Chart pop up div  */

.fullNetworkListDiv
{
	position: fixed;
	display:none;
	min-width: 40%;
    min-height: 200px;
	max-width: 98%;
	max-height:568px;
	left: 1%; 
	 top: 13%; 
	 border: 1px solid #B7DBF2;
	background-color:#B7DBF2;
	padding: 10px;
	cursor:e-resize;
	font-family:Verdana,Helvatica;
	font-size:12px;
	font-weight:Normal;
	 overflow: hidden;
    resize: both;
	overflow:scroll;
}

/* Drill Down Med pop up div  */

.DrillMedCatDiv
{
	position: fixed;
	display:none;
	min-width:45%;
    min-height: 468px;
	max-width: 98%;
	max-height:568px;
	left: 25%; 
	 top: 21%; 
	 border: 1px solid #B7DBF2;
	background-color:#B7DBF2;
	padding: 10px;
	cursor:e-resize;
	font-family:Verdana,Helvatica;
	font-size:12px;
	font-weight:Normal;
	 overflow: hidden;
    resize: both;
	overflow:scroll;
}

/*primefaces calender default CSS Override */
div.ui-datepicker{

width:230px;
} 

  div.tooltip {
  position: absolute;
  text-align: center;
  width: 80px;
  height: 20px;
  padding: 2px;
  font: 12px sans-serif;
  background: trasparent;
  border: 0px;
  border-radius: 4px;
  color: #2AAAFF;
  font-weight: bold;
 /*  pointer-events: none;	This line needs to be removed */
	
}

#Dtatableformassage th {
  background: #ffffff;
}
